 .color-key__item {
     display: inline-flex;
     align-items: center;
     gap: var(--Gap-default-3xs);

     .color-key__item-dot {
         width: 12px;
         height: 12px;
         aspect-ratio: 1/1;
         border-radius: 50%;
         display: inline-block;
     }


     .color-key__item-text {
         white-space: nowrap;
     }
 }