.block-cta-misinformation-cards {
	
	&.block-bannerh-container-in-a-box {	
		padding: var(--Margins-margins-elevated);

		.block-bannerh__container {
			max-width: var(--max-width);
			margin-left: auto;
			margin-right: auto;
			border-radius: var(--Corner-Radius-radius-container-lg);
		}

		.block-bannerh__left {
			padding: var(--Margins-margin-top-bottom-sm) var(--Margins-margin-left-right);
			@media (min-width: #{$min-width-lg}) {
				
				@media (min-width: #{$min-width-lg}) {
					padding: var(--Margins-margin-top-bottom-sm) 0px var(--Margins-margin-left-right) var(--Margins-margin-top-bottom-sm);
				}
			}
			&.block-bannerh__left--to-right {
				padding: var(--Margins-margin-top-bottom-sm) var(--Margins-margin-left-right) var(--Margins-margin-top-bottom-sm) 0px;
			}
		}

	}

	&.block-bannerh-container-no-box {
		.block-bannerh__container {
			padding: var(--Margins-margin-top-bottom-md) var(--Margins-margin-left-right) var(--Margins-margin-top-bottom-sm) var(--Margins-margin-left-right);
			@media (min-width: #{$min-width-md}) {
				padding: var(--Margins-margin-top-bottom-sm) var(--Margins-margin-left-right);
			}
		
		}
		.block-bannerh__inner-container {
			max-width: var(--max-width);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.block-bannerh__inner-container {
		display: flex;
		flex-direction: column;	
		justify-content: center;
		align-items: flex-start;
		gap: var(--Gap-between-elements-sm);
			@media (min-width: #{$min-width-md}) {
				align-items: stretch;
				
			}
			@media (min-width: #{$min-width-lg}) {
				flex-direction: row;
				gap: 48px var(--Gap-between-elements-md);
			}
	}

	.block-bannerh__left {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: var(--Gap-default-md);
		.block-bannerh__tag {
			padding-bottom: var(--Gap-default-xs);
		}
		@media (min-width: #{$min-width-md}) {
			width: 100%;
		}

		@media (min-width: #{$min-width-lg}) {
			width: 50%;
		}
		
		&.block-bannerh__left--to-right {
			@media (min-width: #{$min-width-lg}) {
				order: 2;
			}	
		}
	}

	.block-bannerh__right {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		// align-self: stretch;

		min-height: 360px;
		width: 100%;	

		.card__title{
			font-size: 24px;
			line-height: 30px;
		}

		@media (min-width: #{$min-width-md}) {
			min-height: 500px;
			width: 100%;	
		}

		@media (min-width: #{$min-width-lg}) {
			min-height: 600px;
			width: 50%;	
		}

		@media (min-width: #{$min-width-lg}) {
			min-height: 620px;
		}
	}

	.block-bannerh__buttons {
		display: flex;
		align-items: flex-start;
		gap: var(--Gap-between-buttons);
		flex-wrap: wrap;
	}

	.block-bannerh__text {
		p {
			margin-top: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			text-decoration: underline;
			text-underline-offset: var(--text-underline-offset);
			text-decoration-thickness: 1.5px;
			padding-left: 4px;
			padding-right: 4px;
		}
		strong {
			font-weight: 600;
		}
	}

	.block-bannerh__cards-wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 550px;
		display: flex;
		justify-content: center;
		align-items: center;
		//background-color: rgba(coral,0.1);
		@media(width < 500px){
			min-height: 450px;
		}
	}

	.block-bannerh__cards-holder{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		border: solid 1px;
	}

	.block-bannerh__card-outer{
		position: relative;
		--card-width: 330px;
		--rotate: 0;
		width: 0;
		height: 0;
		//
		&.swapdepth-prev-step-1{
			transition-duration: 0.3s;
			transition-timing-function: ease;
			//transform: translateX(calc(-1 * var(--card-width) - 70px)) rotate(var(--rotate));
			transform: translateX(calc(var(--card-width) + var(--card-width) / 3)) rotate(var(--rotate));
			&.swapdepth-prev-step-2{
				transform: translateX(0) rotate(0);
			}
		}
		&.swapdepth-next-step-1{
			transition-duration: 0.3s;
			transition-timing-function: ease;
			//transform: translateX(calc(var(--card-width) + 70px)) rotate(var(--rotate));
			transform: translateX(calc(-1 * var(--card-width) - var(--card-width) / 3)) rotate(var(--rotate));
			&.swapdepth-next-step-2{
				transform: translateX(0) rotate(0);
			}
		}
		&.swapdepth-prev-step-1:not(.swapdepth-prev-step-2),
		&.swapdepth-next-step-1:not(.swapdepth-next-step-2){
			.block-bannerh__card--t1{
				//background-color: blue;
				transform: translateX(-44%) translateY(-47%)rotate(-1deg);
			}
			.block-bannerh__card--t2{
				//background-color: red;
				transform: translateX(-45%) translateY(-58%) rotate(3deg);
			}
			.block-bannerh__card--t3{
				//background-color: green;
				transform: translateX(-54%) translateY(-47%) rotate(1deg);
			}
			.block-bannerh__card--t4{
				//background-color: yellow;
				transform: translateX(-54%) translateY(-51%) rotate(-1deg);
			}
		}
	}
	.block-bannerh__card{
		padding: 24px;
		display: flex;
		width: var(--card-width);
		aspect-ratio: 0.7;
		background-color: white;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 14px;
		user-select: none;
		background-color: var(--surface-primary);
		transition: transform 0.3s ease;
		@media(width < 500px){
			--card-width: 230px;
		}
		@media(width < 390px){
			--card-width: 220px;
		}
		&.block-bannerh__card--t1{
			//background-color: blue;
			transform: translateX(-44%) translateY(-47%)rotate(8deg);
			&:hover{
				transition-delay: 0.1s;
				transform: translateX(-44%) translateY(-47%)rotate(8deg) scale(1.05);
			}
		}
		&.block-bannerh__card--t2{
			//background-color: red;
			transform: translateX(-45%) translateY(-58%) rotate(0deg);
			&:hover{
				transition-delay: 0.1s;
				transform: translateX(-45%) translateY(-58%) rotate(0deg) scale(1.05);
			}
		}
		&.block-bannerh__card--t3{
			//background-color: green;
			transform: translateX(-54%) translateY(-47%) rotate(-8deg);
			&:hover{
				transition-delay: 0.1s;
				transform: translateX(-54%) translateY(-47%) rotate(-8deg) scale(1.05);
			}
		}
		&.block-bannerh__card--t4{
			//background-color: yellow;
			transform: translateX(-54%) translateY(-51%) rotate(1.25deg);
			&:hover{
				transition-delay: 0.1s;
				transform: translateX(-54%) translateY(-51%) rotate(1.25deg) scale(1.05);
			}
		}
		//
		.card__icon{
			position: absolute;
			bottom: 24px;
			right: 24px;
		}
	}

	.block-bannerh__cards-arrows{
		position: absolute;
		top: 50%;
		margin: 0 auto;
		width: 100%;
		max-width: 550px;
		height: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

}