// Block: Context
.block-context {
    display: flex;
    padding: var(--Margins-margin-top-bottom-sm) 0;
    gap: var(--Gap-default-md);
    min-height: 600px;

    img {
        max-width: 100%;
    }

    .block-context__images {
        flex: 1;
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 600px;
    }

    .block-context__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--Corner-Radius-radius-container-md);
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 25%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
            pointer-events: none;
        }

        &.is-active {
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    .block-context__image-caption {
        position: absolute;
        bottom: var(--Padding-medium-container);
        left: var(--Padding-medium-container);
        right: var(--Padding-medium-container);
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
        color: var(--neutral-100);

        &.is-active {
            opacity: 1;
        }

        p {
            margin: 0;
        }
    }

    .block-context__content {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
        padding: var(--Padding-medium-container);
        border-radius: var(--Corner-Radius-radius-container-md);
        background: var(--neutral-000);
    }

    .block-context__content-wrapper {
        margin-top: 32px;
    }

    .block-context__details {
        position: relative;
    }

    .block-context__detail-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: var(--Gap-default-3xs);

        &.is-active {
            opacity: 1;
            position: relative;
        }
    }

    .block-context__details-text {
        p {
            margin: 0;
        }
    }


    .block-context__controls {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 24px;
    }

    .block-context__dots {
        display: flex;
        width: 86px;
        height: 40px;
        padding: 18px 16px;
        justify-content: space-between;
        align-items: center;

        border-radius: 24px;
        background: #F4EBE3;
    }

    .block-context__dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #D7C8BB;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;

        &.is-active,
        &:hover {
            background: #332933;
        }
    }

    .block-context__play-pause {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background: #F4EBE3;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        padding: 0;
        line-height: 0;

        svg {
            width: 16px;
            height: 16px;
        }

        &:hover {
            opacity: 0.7;
        }

        .block-context__icon-pause {
            display: block;
        }

        .block-context__icon-play {
            display: none;
        }

        &.is-paused {
            .block-context__icon-pause {
                display: none;
            }

            .block-context__icon-play {
                display: block;
            }
        }
    }

    .block-context__navigation {
        display: flex;
        gap: var(--Gap-between-buttons-sm);
        margin-left: auto;
    }

    @media (max-width: 1119px) {
        flex-direction: column;
        gap: var(--Gap-default-md);

        .block-context__images {
            min-height: 361px;
            order: 1;
        }

        .block-context__controls {
            flex-wrap: wrap;
            gap: 16px;
        }

        .block-context__navigation {
            margin-right: 0;
            margin-left: auto;
        }
    }
}