$tooltip-notch-offset-bottom: 18px;
$tooltip-notch-color: var(--neutral-000);
$tooltip-notch-border-color: rgba(0, 0, 0, 0.06);
$tooltip-notch-width: 20px;
$tooltip-notch-height: 18px;

.block-incidents-by-type {

    display: flex;
    flex-direction: column;
    gap: var(--Gap-between-elements-md);
    padding: var(--Margins-margin-top-bottom-md) 0;

    .block-incidents-by-type__title {
        text-align: center;
    }

    .block-incidents-by-type__bar {
        display: flex;
        height: 58px;
        border-radius: 4px;
        align-self: stretch;
        background: var(--neutral-200);
        border-radius: 8px;

        @media (min-width: 1120px) {
            height: 260px;
            border-radius: 16px;
        }
    }

    .block-incidents-by-type__bar-segment {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 14px;
        font-weight: 600;
        position: relative;
        padding: 16px;
        transition: opacity 0.4s ease;

        &:hover .block-incidents-by-type__tooltip {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;

            .block-incidents-by-type__tooltip-inner {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .block-incidents-by-type__bar-percent {
        position: relative;
        z-index: 1;
        white-space: nowrap;

        @media (max-width: 1119px) {
            display: none;
        }

        &.block-incidents-by-type__bar-percent--hidden {
            opacity: 0;
        }
    }

    .block-incidents-by-type__bar-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--Gap-default-md);

        @media (min-width: 1120) {
            align-items: center;
        }
    }

    .color-key--horizontal {
        @media (max-width: 1119px) {
            width: 100%;
            flex-direction: column;
            padding: 8px 16px;
            border-radius: 16px;
            background: var(--neutral-000);
            gap: 0px !important;
        }

        @media (min-width: 1120px) {
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 4em;
        }

        @media (min-width: 1200px) {
            padding: 0;
        }
    }

    @media (max-width: 1119px) {
        .color-key__item {
            padding: 16px 0;
            justify-content: space-between;
        }

        .color-key__item:not(:last-child) {
            border-bottom: 1px solid var(--divider);
        }
    }

    @media (min-width: 1120px) {
        .color-key__item-percentage-wrapper {
            display: none;
        }
    }
}

.block-incidents-by-type__tooltip {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%) translateY(-8px);
    min-width: 300px;
    height: 159px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.15s ease, visibility 0.15s ease;
    z-index: 10;
    border-radius: 24px;
    background: var(--neutral-000);
    border: 1px solid rgba(0, 0, 0, 0.06);
    z-index: 1;

    .block-incidents-by-type__tooltip-notch {
        position: absolute;
        bottom: -$tooltip-notch-offset-bottom;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: calc($tooltip-notch-width / 2) solid transparent;
        border-right: calc($tooltip-notch-width / 2) solid transparent;
        border-top: $tooltip-notch-height solid $tooltip-notch-color;
        z-index: 100;
    }

    .block-incidents-by-type__tooltip-notch-2 {
        position: absolute;
        bottom: -($tooltip-notch-offset-bottom + 1.5px);
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: calc(($tooltip-notch-width / 2) + 1px) solid transparent;
        border-right: calc(($tooltip-notch-width / 2) + 1px) solid transparent;
        border-top: calc($tooltip-notch-height + 1px) solid $tooltip-notch-border-color;
        z-index: 90;
        box-shadow: none;
    }

    .block-incidents-by-type__tooltip-notch-3 {
        position: absolute;
        bottom: -($tooltip-notch-offset-bottom + 1.5px);
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: calc(($tooltip-notch-width / 2) + 1px) solid transparent;
        border-right: calc(($tooltip-notch-width / 2) + 1px) solid transparent;
        border-top: calc($tooltip-notch-height + 1px) solid $tooltip-notch-color;
        z-index: 89;
        box-shadow: none;
    }
}

.block-incidents-by-type__tooltip-inner {
    display: flex;
    padding: var(--Padding-xsmall-container);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--Gap-default-xs);
    align-self: stretch;

    opacity: 0;
    transform: translateY(4px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.block-incidents-by-type__tooltip--responsive__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Gap-default-3xs);
    flex: 1 0 0;
    align-self: stretch;
}

.block-incidents-by-type__tooltip--responsive__middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--Gap-default-2xl, 40px);
    flex: 1 0 0;
    align-self: stretch;
}

.block-incidents-by-type__tooltip--responsive__right,
.block-incidents-by-type__tooltip--responsive__left {
    flex: 1;
}

.block-incidents-by-type__tooltip--responsive__stats-group {
    display: flex;
    flex-direction: column;
}

.block-incidents-by-type__tooltip--responsive__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-incidents-by-type__tooltip--responsive__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--Gap-default-lg, 28px);
    flex: 1 0 0;
    align-self: stretch;
}

.block-incidents-by-type__tooltip-arrow {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    background: var(--neutral-000);
    z-index: -1;
    border-radius: 2px;
}

.block-incidents-by-type__tooltip-label {
    font-weight: 600;
}

.block-incidents-by-type__tooltip-stats {
    display: flex;
    flex-direction: column;
}

.block-incidents-by-type__tooltip-stats-group {
    display: flex;
    align-items: flex-end;
    gap: 6px;
}

.block-incidents-by-type__bar {
    .block-incidents-by-type__tooltip--responsive {
        display: none;
    }
}

.block-incidents-by-type__tooltip-count,
.block-incidents-by-type__tooltip-percent {
    font-weight: 500;
}

.block-incidents-by-type__bar-segment.is-first {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    @media (min-width: #{$min-width-lg}) {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }
}

.block-incidents-by-type__bar-segment.is-last {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    @media (min-width: #{$min-width-lg}) {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.block-incidents-by-type__bar-segment.is-first .block-incidents-by-type__tooltip {
    left: 0;
    transform: translateX(0) translateY(-8px);

    .block-incidents-by-type__tooltip-notch,
    .block-incidents-by-type__tooltip-notch-2,
    .block-incidents-by-type__tooltip-notch-3 {
        left: 8%;
        transform: translateX(-8%);
    }

    .block-incidents-by-type__tooltip-notch-2,
    .block-incidents-by-type__tooltip-notch-3 {
        margin-left: -0.5px;
    }
}

.block-incidents-by-type__bar-segment.is-last .block-incidents-by-type__tooltip {
    left: 100%;
    transform: translateX(-100%) translateY(-8px);

    .block-incidents-by-type__tooltip-notch,
    .block-incidents-by-type__tooltip-notch-2,
    .block-incidents-by-type__tooltip-notch-3 {
        left: 90%;
        transform: translateX(-90%);
    }

    .block-incidents-by-type__tooltip-notch-2,
    .block-incidents-by-type__tooltip-notch-3 {
        margin-left: 0.5px;
    }
}

.block-incidents-by-type__bar:hover .block-incidents-by-type__bar-segment {
    opacity: 0.1;
    filter: grayscale(80%) brightness(1.2);
    
}

.block-incidents-by-type__bar:hover .block-incidents-by-type__bar-segment:hover {
    opacity: 1;
    filter: none;
}

@media (max-width: 1119px) {
    .block-incidents-by-type__bar-segment:hover .block-incidents-by-type__tooltip {
        opacity: 0 !important;
        visibility: hidden !important;
        pointer-events: none !important;
    }

    .block-incidents-by-type__bar:hover .block-incidents-by-type__bar-segment {
        opacity: 1 !important;
    }

    .block-incidents-by-type__bar:hover .block-incidents-by-type__bar-segment:hover {
        opacity: 1 !important;
    }
}



@media (min-width: 1120px) {

    .block-incidents-by-type__bar-segment:focus .block-incidents-by-type__tooltip,
    .block-incidents-by-type__bar-segment.is-focused .block-incidents-by-type__tooltip {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        .block-incidents-by-type__tooltip-inner {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .block-incidents-by-type__blurb {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}