.news__featured{
    padding: 0 var(--Margins-margin-left-right);
}
.news__featured-holder{
    display: grid;
    grid-template-columns: 1fr 2fr  1fr;
    gap: var(--Gap-default-xl, 40px);
    min-height: 300px;
    border-bottom: solid 1px var(--divider);
    padding: var(--Margins-margin-top-bottom-reg) 0;
    @media (width < 1120px) {
        display: flex;
        flex-direction: column;
    }
}
.news__featured-col{
    display: flex;
    flex-direction: column;
    gap: var(--Gap-between-elements-sm, 32px);
}

.news__featured-holder-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--Gap-between-elements-sm, 32px);
    border-bottom: solid 1px var(--divider);
    padding: var(--Margins-margin-top-bottom-reg) 0;
}
    
.news__featured-col:nth-of-type(2){
    background-color: transparent;
    @media (width < 1120px) {
        order: 1;
        border-bottom: solid 1px var(--divider);
        padding-bottom: var(--Gap-default-xl);
    }
    .news__item-tag-list{
        justify-content: center;
    }
    .news__item-wrapper,
    .news__item-wrapper a{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Gap-default-md);
    }

    .news__item-tag-list{
        display: flex;
        align-items: center;
    }

    .news__featured-item-details {
        text-align: center;
        align-self: stretch;
    }

    .news__featured-item-title {
        @include font-display-sm;
        text-align: center;
        width: 100%;
    }

    .news__featured-item-blurb {
        display: block;
        p{
            margin: 0;
            margin-bottom: 1em;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    /* .news__featured-item-title {
        @include font-display-md;
    } */
}

.news__featured-col:nth-of-type(1),
.news__featured-col:nth-of-type(3),
.news__featured-holder-bottom{
    background-color: transparent;
    .news__item-wrapper,
    .news__item-wrapper a{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Gap-default-xs, 16px);
        @media (width < 1120px) {
            width: 100%;
        }
    }
}
.news__featured-holder-bottom{
    @media (width < 1120px) {
        display: flex;
        flex-direction: column;
    }
}
.news__featured-col:nth-of-type(1){
    @media (width < 1120px) {
        order: 2;
        /* border-bottom: solid 1px var(--divider); */
        /* padding-bottom: var(--Gap-default-md, 24px); */
        padding-bottom: 10px;
    }
}
.news__featured-col:nth-of-type(3){
    @media (width < 1120px) {
        order: 3;
    }
}
.news__featured-col:nth-of-type(1),
.news__featured-col:nth-of-type(3){
    gap: var(--Gap-default-md, 24px);
    .news__item-wrapper{
        border-bottom: solid 1px var(--divider);
        /* padding-bottom: var(--Gap-between-elements-sm, 32px); */
        padding-bottom: var(--Gap-default-md, 24px);
        &:last-of-type{
            border: none;
            padding-bottom: 0;
        }
        @media (width < 1120px) {
            border-bottom: none;
            padding-bottom: var(--Gap-default-lg);
        }
        a{
            gap: var(--Gap-default-3xs, 8px);
            @media (width < 1120px) {
                width: 100%;
            }
        }
        .image{
            margin-top: 11px;
            margin-bottom: 7px;
        }
    }
}
.news__featured-holder-bottom{
    .news__item-wrapper{
        .image{
            margin-bottom: 5px;
        }
    }
    @media (width < 1120px) {
        /* padding: var(--Gap-default-md, 24px) 0; */
    }
}


    
    