.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.max-width {
	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
}

.bg-neutral-100 {
	background-color: var(--neutral-100);
}

.bg-neutral-200 {
	background-color: var(--neutral-200);
}

// <-- borrar luego de no usar mas el demo de data interactive
.site-padding {
	padding: 0 var(--Margins-margin-left-right);
}

.demo-margin {
	padding: 20px 0;
}

.wrap-vertical-labels {
	display: flex;
	gap: 300px;
}

.wrap-vertical-labels--data-trend {
	&>div {
		width: 300px;
	}
}

// --> borrar luego de no usar mas el demo de data interactive

.demo {
	display: flex;
	padding: var(--Margins-margin-top-bottom-md) var(--Margins-margin-left-right);
	flex-direction: column;
	align-items: center;
	gap: var(--Gap-default-xl);
	background-color: var(--surface-primary);
	color: var(--text-primary);

	.demo__details {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--Gap-default-md);
		text-align: center;
	}

}

body.remove-scroll{
	overflow: hidden !important;
}

#skip-to-content-btn,
#open-main-nav-btn{
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 11;
    height: 0;
    text-transform: uppercase;
    width: fit-content;
    opacity: 0;
    font-weight: 600;
    &:focus{
        padding: 10px;
        background-color: var(--neutral-100);
        color: var(--neutral-700);
        height: auto;
        opacity: 1;
		@include font-body-sm;
    }
}